---
// src/components/Card.astro
interface Props {
  title: string;
  id?: string; // 增加一个可选的 id，用于 View Transition
}
const { title, id } = Astro.props;
---

<article class="card acrylic-panel" transition:name={id}>
  <h2>{title}</h2>
  <div class="content">
    <slot />
  </div>
</article>

<style>
  .card {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  h2 {
    margin-top: 16px;
    margin-bottom: 0px;
    background: var(--accent);
    color: var(--tag);
    /* color: var(--accent); */
    padding: 4px 10px;
    font-size: 12px;
    font-weight: bold;
    justify-content: space-between;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  }

  .content {
    flex: 1;
    display: flex;
    min-height: 0;
    padding: 20px;
    flex-direction: column;
    font-size: 14px;
    color: #333;
    background: rgba(255, 255, 255);
  }
</style>
