---
interface Props {
  label: string;
}
const { label } = Astro.props;
---

<div class="tool-wrapper">
  <div class="tool-body">
    <slot />
  </div>
  <div class="tag">{label}</div>
</div>

<style>
  .tool-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(5px); /* 背景模糊，数值越大越磨砂 */
    color: #0f0; /* 荧光绿 */
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 12px; /* 圆角是亚克力灵魂，不加很难有质感 */

    box-shadow:
      0 4px 16px rgba(0, 0, 0, 0.12),
      inset 0 0 0 1px rgba(255, 255, 255, 0.15);
    overflow: hidden;
  }
  .tool-body {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
  }
  .tag {
    background: var(--accent);
    color: white;
    font-size: 10px;
    width: 100%;
    text-align: center;
    padding: 2px 0;
  }
</style>
